.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contentContainer h1 {
  font-size: 5rem;
  color: rgb(245, 245, 245);
}

.contentContainer h1 span {
  font-size: 5rem;
  background: linear-gradient(to right, #ff619f, #f37471);
  border-bottom: 3px solid #f37471;

  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contentContainer p {
  font-size: 2rem;
  color: rgb(199, 199, 199);
  font-style: italic;
}

.buttonContainer {
  display: flex;
  gap: 10rem;
}

.colorButton {
  display: flex;
  gap: 0.7rem;
  align-items: center;
  text-decoration: none;
  color: aliceblue;
  font-size: 2rem;
  padding: 0.5rem 1rem;

  background: linear-gradient(to right, #ff619f, #f37471);
  border-radius: 15px;
}

.colorButton svg {
  width: 2rem;
}

.borderButton {
  display: flex;
  gap: 0.7rem;
  align-items: center;
  text-decoration: none;
  color: aliceblue;
  font-size: 2rem;
  padding: 0.5rem 1rem;

  border: 3px solid rgb(223, 223, 223);
  border-radius: 15px;
}

.borderButton svg {
  width: 2rem;
}
